.TrendsContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.title {
  padding-left: 20px;
}

.tweetNbr {
  color: grey;
}

.trendTitle {
  margin-top: 0;
}

.trendsContainer {
  background-color: #1f2835;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  padding: 20px;
}

.trendContainer {
  margin-bottom: 20px;
}