.tweetContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}


.logoutDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}

.idLogout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  margin-left: 10px;
  height: fit-content;
}

.userAvatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logoutBtn {
  cursor: pointer;
  font-family: Mont-Heavy;
  border: 1px grey solid;
  background-color: #161F2D;
  color: #35A6FF;
  border-radius: 15px;
  font-size: 12px;
  padding: 8px;
  width: 130px;
}

.userName {
  padding: 3px;
  color: grey;
}

.firstName {
  padding: 3px;
}

.userContainer {
  height: fit-content;
}